[submodule ".registry"]
	path = .registry
	url = https://github.com/agshaas/agshaas.r-universe.dev
	branch = HEAD
[submodule "BPCells"]
	path = BPCells
	url = https://github.com/bnprks/BPCells
	subdir = r
[submodule "PICtR"]
	path = PICtR
	url = https://github.com/agSHaas/PICtR
[submodule "Spectre"]
	path = Spectre
	url = https://github.com/immunedynamics/spectre
